In [3]:
import pandas as pd

In [8]:
data = pd.read_csv('epl-goalScorer(20-21).csv')
data.head(5)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [6]:
data.tail(5)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.0,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.0,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.0,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.0,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.0,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [10]:
# 10 player scores most goal
data.sort_values('goals', ascending=False).head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,9,3277,Alexandre Lacazette,30,1928,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941

In [11]:
# 10 with longest time 
data.sort_values('time', ascending=False).head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
296,296,637,Hugo Lloris,38,3420,0,0.000000,0,0.000000,0,0,0,0,GK,Tottenham,0,0.000000,4.801015,4.801015
378,378,4401,Emiliano Martinez,38,3420,0,0.000000,0,0.122923,0,2,1,0,GK,Aston Villa,0,0.000000,3.730909,3.607986
311,311,745,Kasper Schmeichel,38,3420,0,0.000000,0,0.000000,0,0,0,0,GK,Leicester,0,0.000000,3.868818,3.868818
110,110,343,Pierre-Emile Højbjerg,38,3420,2,1.137927,4,1.755895,14,16,9,0,M,Tottenham,2,1.137927,16.205809,14.680379
40,40,8718,Stuart Dallas,38,3412,8,4.457074,2,2.084683,48,26,7,0,D M,Leeds,8,4.457074,18.534344,13.809802
327,327,884,Matt Targett,38,3407,0,0.280304,2,2.799669,6,39,7,0,D,Aston Villa,0,0.280304,9.610859,8.203313
480,480,8716,Luke Ayling,38,3400,0,1.439750,0,2.988854,24,26,7,0,D M,Leeds,0,1.439750,14.196262,11.884364
204,204,1688,Andrew Robertson,38,3391,1,1.437934,7,7.220492,19,65,2,0,D,Liverpool,1,1.437934,19.869482,15.435009
55,55,5956,Youri Tielemans,38,3359,6,4.168204,4,3.312251,48,49,6,0,M S,Leicester,4,2.645866,18.975342,14.945469
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991

In [12]:
data.sort_values('assists', ascending=False).head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
58,58,447,Kevin De Bruyne,24,1918,5,9.908440,11,10.003763,79,72,1,0,M S,Manchester City,3,7.624933,21.079132,10.636448
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
51,51,675,Jack Grealish,26,2187,6,5.192684,10,9.334137,50,81,5,0,F M S,Aston Villa,6,5.192684,17.487469,6.972044
15,15,556,Marcus Rashford,37,2941,11,9.579710,9,4.185122,79,44,4,0,F M S,Manchester United,11,9.579710,20.441910,8.927208
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
57,57,8026,Raphinha,30,2369,6,6.219143,9,9.524861,67,65,3,0,M S,Leeds,6,6.219143,16.792778,6.679692
49,49,65,Timo Werner,35,2605,6,13.432796,8,6.667277,80,36,2,0,F M S,Chelsea,6,13.432796,20.533463,5.242122
281,281,534,Aaron Cresswell,35,3086,0,0.883464,8,7.347331,19,57,3,0,D,West Ham,0,0.883464,10.609667,8.381824

In [16]:
manchester_city = data[data['team_title'] == 'Manchester City']

In [18]:
manchester_city.sort_values('goals', ascending=False).head(4)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
8,8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
22,22,618,Raheem Sterling,30,2449,10,11.763264,6,5.817096,68,35,3,0,F M S,Manchester City,10,11.002095,24.088666,11.477125
28,28,750,Riyad Mahrez,26,1894,9,6.151046,5,5.954979,56,43,0,0,F M S,Manchester City,9,6.151046,18.641168,9.019600
35,35,5543,Gabriel Jesus,28,1977,8,9.009614,4,3.371890,52,29,2,0,F M S,Manchester City,8,9.009614,16.564744,5.563635

In [23]:
most_goal = data.sort_values('goals', ascending=False).head(1)
most_goal['team_title']

0    Tottenham
Name: team_title, dtype: object

In [26]:
most_assist = data.sort_values('assists', ascending=False).head(1)

most_assist

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257

In [27]:
kartu_kuning, kartu_merah = most_assist['yellow_cards'], most_assist['red_cards']
kartu_kuning, kartu_merah

(0    1
 Name: yellow_cards, dtype: int64,
 0    0
 Name: red_cards, dtype: int64)

In [28]:
# player who have both most assist and goal
data[(data['goals'] == most_goal['goals'].values[0]) & (data['assists'] == most_assist['assists'].values[0])]

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257

In [29]:
data.groupby('goals').sum().sort_values('goals', ascending=False).head(5)

,Unnamed: 0,id,player_name,games,time,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
goals,,,,,,,,,,,,,,,,,,
23,0,647,Harry Kane,35,3097,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
22,1,1250,Mohamed Salah,37,3085,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
18,2,1228,Bruno Fernandes,37,3117,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
17,7,1275,Son Heung-MinPatrick Bamford,75,6224,29.425149,17,13.295239,175,105,3,0,F M SF S,TottenhamLeeds,31,27.141643,44.066868,10.740547
16,5,5555,Dominic Calvert-Lewin,32,2788,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406

In [32]:
no_card_player = data[(data['yellow_cards'] == 0) & (data['red_cards'] == 0)]
no_card_player.sort_values('goals', ascending=False).head(5)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
13,13,4456,Chris Wood,32,2675,12,12.896009,3,2.038118,69,23,0,0,F S,Burnley,10,11.373671,13.585282,2.149852
28,28,750,Riyad Mahrez,26,1894,9,6.151046,5,5.954979,56,43,0,0,F M S,Manchester City,9,6.151046,18.641168,9.019600
29,29,6681,Harvey Barnes,25,1954,9,6.697320,4,1.771688,56,26,0,0,F M S,Leicester,9,6.697320,8.893774,1.594841